{% extends "layout.html" %}
{% block content %}
    <div class="content-section" style="">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please Fill in the details to serve your query</legend>
                <div class="form-group">
                    {{ form.benchmark_type.label(class="form-control-label") }}
                    {% if form.benchmark_type.errors %}
                        {{ form.benchmark_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.benchmark_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.benchmark_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.workload_metric.label(class="form-control-label") }}
                    {% if form.workload_metric.errors %}
                        {{ form.workload_metric(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.workload_metric.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.workload_metric(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.batch_unit.label(class="form-control-label") }}
                    {% if form.batch_unit.errors %}
                        {{ form.batch_unit(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.batch_unit.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.batch_unit(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.batch_id.label(class="form-control-label") }}
                    {% if form.batch_id.errors %}
                        {{ form.batch_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.batch_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.batch_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.batch_size.label(class="form-control-label") }}
                    {% if form.batch_size.errors %}
                        {{ form.batch_size(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.batch_size.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.batch_size(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.data_type.label(class="form-control-label") }}
                    {% if form.data_type.errors %}
                        {{ form.data_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.data_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.data_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info btn-block") }}
            </div>
        </form>
    </div>
{% endblock content %}
